 /**
 * @name WinClassic
 * @author SlippingGitty
 * @version 2022.01.12.01
 * @description It sucks less.
 * @source https://github.com/SlippingGittys-Discord-Themes/WinClassic/
 * @website https://slippinggitty.github.io/
*/

/*
          /          /|  `7MMF'    A     `7MF'db               .g8"""bgd `7MM                             db          
 	 /__________/ |  `MA     ,MA     ,V                 .dP'     `M   MM                                         
 	|.---------.| |  VM:   ,VVM:   ,V `7MM  `7MMpMMMb. dM'       `   MM   ,6"Yb.  ,pP"Ybd ,pP"Ybd `7MM  ,p6"bo  
 	||         || |  MM.  M' MM.  M'   MM    MM    MM MM            MM  8)   MM  8I   `" 8I   `"   MM 6M'  OO  
 	||         || |  `MM A'  `MM A'    MM    MM    MM MM.           MM   ,pm9MM  `YMMMa. `YMMMa.   MM 8M       
 	||         || |  :MM;    :MM;     MM    MM    MM `Mb.     ,'   MM  8M   MM  L.   I8 L.   I8   MM YM.    , 
 	||         || |   VF      VF    .JMML..JMML  JMML. `"bmmmd'  .JMML.`Moo9^Yo.M9mmmP' M9mmmP' .JMML.YMbmd'  
 	|'---------'|/																		 
 	[=== -- o ]/--.
	_'---------'__  \
       [::::::::::: :::]  )
	`""'"""""'""""`  /T\
			 \_/
*/

/* 
////////////////
///IMPORT CSS
///////////////
*/
@import url("https://slippinggittys-discord-Themes.github.io/WinClassic/src/source.css");


/* 
/////////////////////////////////////////
//ADD YOUR OWN ADDITIONS BELLOW THIS LINE
/////////////////////////////////////////
*/
