/*
///////////////////////
///98.css SCROLLBAR
//////////////////////
*/

body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: silver;
}

/* dakedres was here ;3 */



/*
////////////////////
///WINCLASSIC THEME
////////////////////
*/

@import url('https://fonts.googleapis.com/css?family=Tahoma&display=swap');


* {
	border-radius: 0px!important;
	text-transform: none!important;
}

.theme-light {
    --header-primary: #000;
    --header-secondary: #000;
    --text-normal: #000;
    --text-muted: #747f8d;
    --text-link: #0067e0;
    --channels-default: #000;
    --interactive-normal: #000;
    --interactive-hover: #fff;
    --interactive-active: #060607;
    --interactive-muted: #a88985;
    --background-primary: #fff;
    --background-secondary: #d4d0c8;
    --background-tertiary: #fff;
    --background-accent: #0a246a;
    --background-floating: #d4d0c8;
    --background-modifier-hover: #0a246a;
    --background-modifier-active: #0a246a;
    --background-modifier-selected: #0a246a;
    --background-modifier-accent: rgba(6,6,7,0.08);
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    --logo-primary: #7289da;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: #ebedef;
    --activity-card-background: #fff;
    --deprecated-panel-background: #ebedef;
    --deprecated-card-bg: #f8f9f9;
    --deprecated-card-editable-bg: #d4d0c8;
    --deprecated-store-bg: #f8f9f9;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
    --deprecated-text-input-bg: rgba(79,84,92,0.02);
    --deprecated-text-input-border: rgba(79,84,92,0.3);
    --deprecated-text-input-border-hover: #b9bbbe;
    --deprecated-text-input-border-disabled: #dcddde;
    --deprecated-text-input-prefix: #b9bbbe;
}

/* temp(?) fix for the Save To plugin when you right-click images/users */

.contextMenu-HLZMGh {
    max-width: 400px;
}
.itemGroup-1tL0uz .item-1Yvehc:not(.da-item):hover {
    height: 200px;
}
.itemGroup-1tL0uz .item-1Yvehc:not(.da-item) {
    position: relative;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 8px;
    font-size: 14px;
    color:var(--interactive-normal);
    line-height: 18px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2px;
}
.itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc{
    height: 20px;
}
.itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc:hover{
    height: 100px;
}
.itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh .item-1Yvehc {
    height: 19px;
    min-height: unset;
}
.itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh {
    overflow-y: scroll!important;
    height: 100px;
    padding: 0!important;
}
.theme-dark .contextMenu-HLZMGh:not(.da-contextMenu),
.theme-light .contextMenu-HLZMGh:not(.da-contextMenu) {
    left:0!important;
    top:0px!important;
    max-height: 200px;
}







/* fuck it scrollbars are broken i cant figure this shit out
its up to you to fix them or wait for me to eventually fox them*/



/*Scrollbars*/
::-webkit-scrollbar-corner {background-color: transparent;}
::-webkit-scrollbar {width: 6px !important;height: 8px !important;}
::-webkit-scrollbar-track:active{background-color: #2a2a2a !important;}
::-webkit-scrollbar-button {display: initial !important; background-color: #c5c4c0;}
::-webkit-scrollbar-track {background-color: transparent; border:6px;border-radius: 0px!important;}
::-webkit-scrollbar-track:hover {background-color: #111111; border:6px;}
::-webkit-scrollbar-track:active {background-color: #111111; border:6px !important;}

/* Changes all scroll bars */
::-webkit-scrollbar {
    width: 16px !important;
    height: 8px !important;
}
/* Border and colour of the scrollbar thumb  */
::-webkit-scrollbar-thumb {
    overflow: auto !important ;
    border-radius: 0px !important ;  /* 0px for box style */
    background-color: #d7d2cf !important;
    border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	width: 16px;
}
/* Changes the background colour of the scroll bars and servers. */
::-webkit-scrollbar-track-piece, .guilds-wrapper {
    background-color: #c5c4c0 !important;
    border: none !important;
    border-radius: 0px!important;
}


.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track {
    visibility: visible!important; 
}


.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #d7d2cf !important;
    border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	width: 16px;
}




.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
	border:6px!important;
	border-radius: 0px!important;
}

.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:hover {
	background-color: #111111!important;
}

.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:active {
	background-color: #2a2a2a!important;
}










::-webkit-input-placeholder, body, button, select, div {
    font-family: Tahoma,Whitney !important;
}


.withFrame-haYltI {
	height: 16px;
	margin-top: 2px;
}
.wordmark-2L03Wr svg,
.wordmark-2iDDfm svg {
	height:0px;
	width:0px;
}
.wordmark-2L03Wr:after, .wordmark-2iDDfm:after {
    position: static;
    content: "WinClassic";
    font-size: 12px;
    color:#fff;
    top: 4px;
    font-weight: 600;
}
.wordmark-2iDDfm {
	opacity: 1;
	width: 100%;
}
.wordmarkWindows-1v0lYD {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 6px 3px;
    color: var(--text-muted);
}



.appMount-3lHmkl,
body,
.header-2tA9Os {
	background: linear-gradient(to right, #0a246a, #a6caf0);
}

.winButton-iRh8-Z,
.form-2fGMdU {
	background: #d4d0c8;
	color: #000;
}

.modeMuted-3osy7j .name-3_Dsmg:not(:hover) {
	text-shadow: 0px 1px #fff;
}

.contextMenu-HLZMGh {
	padding: 0;
}

.itemBase-tz5SeC {
	min-height:21px;
}

.side-8zPYf6 .item-PXvHYJ {
	height: 21px;
	padding: 0;
	margin: 0;
}

.form-2fGMdU,
.item-1Yvehc {
	margin: 0;
}

.barButtonBase-3UKlW2 {
	color: #000;
}

.theme-light #bd-settings-sidebar .ui-tab-bar-header,
.theme-light #bd-settings-sidebar .ui-tab-bar-item {
	color: #000;
}

.side-8zPYf6 .separator-gCa7yv {
	padding: 0;
	margin: 0;
}

.wrapper-CU3qI5:hover {
	background: #0a246a;
}

.wrapper-25eVIn svg foreignObject,
.wrapper-3t9DeA mask,
.wrapper-3t9DeA foreignObject {
	mask: none;
}

.header-2tA9Os {
	overflow: hidden;
	height: 17px;
	padding: 0px 4px!important;
	margin: 0;
}

.flexChild-faoVW3 h4 {
	margin-top: -2px;
	font-size: 12px;
	color: #fff;
}

.theme-light .bda-slist li,
.theme-light .bda-slist .bda-description,
.theme-light .bda-slist .bda-header {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.winButton-iRh8-Z {
	top: 0;
	width: 13px;
	height: 12px;
}

.winButton-iRh8-Z:nth-child(3),
.winButton-iRh8-Z:nth-child(2) {
	margin-right: 2px;
}

.theme-light input {
	background: #fff;
	background-color: #fff;
}

.typing-2GQL18 {
	height: 14px;
    top: -16px;
    padding: 0 4px;
  left: .1px;
}
.channelTextArea-rNsIhG {
	padding-top: 12px;
	margin-bottom: 13px;
}
.textArea-2Spzkt {
	min-height: 14px;
	padding: 0;
}

.buttons-205you,
.theme-light .attachButton-1UjEWA {
	height: auto;
	min-height: 25px;
}
.button-2vd_v_,
.theme-light .attachButton-1UjEWA {
	padding: 0;
}
.theme-light .attachButton-1UjEWA:hover {
	background: #0a246a;
}





.modeSelected-1zApJ_ .name-3_Dsmg,
.wrapper-1ucjTd:hover .name-3_Dsmg,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.header-2o-2hj:hover .name-3YKhmS,
.clickable-1JJAn8:hover .activity-E-0FeD,
.selected-37j_iU .actionIcon-2Hi9ZG,
.containerDefault-1ZnADq:hover .actionIcon-2Hi9ZG {
	color: #fff;
	text-shadow: none;
}

.activityPanel-28dQGo,
.container-3baos1 {
	background: #d4d0c8;
	border-top:1px solid #fff;
}

.containerDefault-1ZnADq,
.containerDragAfter-1F4fgZ,
.containerDragBefore-31UGCO,
.containerUserOver-1U5YnL,
.member-3W1lQa,
.winButton-iRh8-Z {
	border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
}

.inner-zqa7da,
.search-36MZv-,
.theme-light input {
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	border-top:1px solid #404040;
	border-left:1px solid #404040;
}

.theme-light .app-2rEoOp button,
.iconWrapper-2OrFZ1,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.typing-2GQL18 {
	color: #000;
	background: #d4d0c8;
	background-color: #d4d0c8;
	border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
}

.container-1r6BKw.themed-ANHk51,
.header-2o-2hj {
	background: #d4d0c8;
	border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	border-left:1px solid #fff;
	-webkit-box-shadow: unset;
    box-shadow: unset;
}

.contextMenu-HLZMGh {
	border-bottom:1px solid #3f3c5d;
	border-right:1px solid #3f3c5d;
	border-top:1px solid #dccec6;
	border-left:1px solid #dccec6;
}

.itemGroup-1tL0uz:not(:first-child):not(:empty) {
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.side-8zPYf6 .separator-gCa7yv {
	border-bottom:1px solid #fff;
	border-top:1px solid #848484;
}
.children-19S4PO:after {
    border-right: #c4c0b8 1px solid;
    background: none;
}

/*
///////////////////////
///ADDITIONS
//////////////////////
*/

/* Text Box */

.textAreaSlate-1ZzRVj {
	border-bottom:1px solid #3f3c5d;
	border-right:1px solid #3f3c5d;
	border-top:1px solid #dccec6;
	border-left:1px solid #dccec6;
}
.channelTextArea-rNsIhG {
	color: #000;
	background: #d4d0c8;
	background-color: #d4d0c8;
	border-bottom:1px solid #3f3c5d;
	border-right:1px solid #3f3c5d;
	border-top:1px solid #000;
	border-left:1px solid #dccec6;
}

.theme-light .form-2fGMdU:before {
	border-right:1px solid #3f3c5d;
	border-top:1px solid #000;
	border-left:1px solid #dccec6;
  background-color: #d4d0c8;
  background: #d4d0c8;
}

/* Channel Info */
.theme-light .children-19S4PO:after {
	background: transparent;
}

/* Activity Panel */
.activityPanel-28dQGo, .container-3baos1 {
    background: #d4d0c8;
	border-top:1px solid #000;
  	border-bottom:1px solid #3f3c5d;
}

/* Channels */
.content-1x5b-n {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}
.modeUnread-1qO3K1 .name-23GUGE:hover {
color: white;
}
.modeSelected-346R90 .name-23GUGE {
    background-color: var(--background-modifier-selected);
  color:white
}
.actionIcon-PgcMM2 {
  color:white
}

/* Members */
.member-3-YXUe, .layout-2DM8Md {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.member-3-YXUe, .layout-2DM8Md:hover {
	background-color: var(--background-secondary);
	color: white;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.selected-aXhQR6 .layout-2DM8Md  {
  color: white
}

.activityText-yGKsKm:hover, .icon-15YQ1T:hover {
  color: white;
}

/* Server name */
.container-1taM1r {
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

/* Guilds bar */
.guilds-1SWlCJ .scroller-2TZvBN {
    background-color: var(--background-modifier-selected);
}

.circleIconButton-jET_ig, .childWrapper-anI2G9 {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: #848484;
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.closedFolderIconWrapper-15K9MK, .expandedFolderBackground-2sPsd-, .expandedFolderIconWrapper-1xLaU-  {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

.childWrapper-anI2G9, .wrapper-1BJsBx {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}

/* People List */
.peopleList-3c4jOR {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #fff;
	border-top:1px solid #848484;
}
.itemCard-v9viV7:first-of-type {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}
.itemCard-v9viV7 {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #848484;
	border-top:1px solid #fff;
}
.section-2gLsgF {
	background-color: var(--background-secondary);
	color: #000;
	margin: 0;
	border-bottom:1px solid #fff;
	border-top:1px solid #848484;
}
