
 /* License https://github.com/dmack6464/WinClassic/blob/master/LICENSE */

 /*
///////////////////////
///98.css SCROLLBAR
//////////////////////
*/

 body *::-webkit-scrollbar {
 	width: 16px;
 	height: 16px;
 	background: none;
 }

 body *::-webkit-scrollbar-thumb {
 	width: 16px;
 	height: 16px;
 	background: #C0C0C0;
 	box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
 	border: 1px solid;
 	border-color: #C0C0C0 #000 #000 silver;
 }

 body *::-webkit-scrollbar-track {
 	image-rendering: optimizeSpeed;
 	image-rendering: pixelated;
 	image-rendering: optimize-contrast;
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
 	background-position: 0 0;
 	background-repeat: repeat;
 	background-size: 2px;
 }

 body *::-webkit-scrollbar-button {
 	background-repeat: no-repeat;
 	background-size: 16px;
 }

 body *::-webkit-scrollbar-button:single-button:vertical:decrement {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:vertical:increment {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:horizontal:increment {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-corner {
 	background: #c0c0c0;
 }

 .scroller__1f96e::-webkit-scrollbar-track {
 	margin-bottom: 0px;
 }

 /* dakedres was here ;3 */



 /*
////////////////////////////////
///CLASSIC TITLE BAR (Tropical)
////////////////////////////////
*/

 /*Variables*/

 .platform-win {
 	--classic-titlebar-height: 20px;
 	--classic-titlebar-active: linear-gradient(90deg, #0a246a, #a6caf0);
 	--classic-titlebar-inactive: linear-gradient(90deg, #808080, #c0c0c0);
 	--classic-titlebar-wordmark-content: 'Discord';
 	--classic-app-padding: 3px;
 }


 /*Source*/

 .typeWindows__5fa63 {
 	position: relative;
 	display: flex;
 	align-items: center;
 	margin-top: 0;
 	top: 0;
 	height: var(--classic-titlebar-height);
 	padding: 3px 2px 3px 3px;
 	box-sizing: border-box;
 	z-index: 9999;
 }

 .winButton__88672 {
 	top: unset;
 	width: 16px;
 	height: 14px;
 	cursor: default;
 	background-color: #C0C0C0 !important;
 	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
 	background-repeat: no-repeat;
 }

 .winButton__88672:active {
 	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
 }

 .winButtonClose__73489 {
 	margin-left: 2px;
 	background-position: top 3px left 4px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
 }

 .winButton__88672:nth-last-child(2) {
 	background-position: top 2px left 3px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
 }

 .winButton__88672:last-child {
 	background-position: bottom 3px left 4px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
 }

 .winButton__88672 svg {
 	display: none;
 }

 .wordmarkWindows__05c46 {
 	top: 0;
 	left: 0;
 	padding: 0 3px;
 	box-sizing: border-box;
 	width: 100%;
 	height: var(--classic-titlebar-height);
 	display: flex;
 	align-items: center;
 	background-image: var(--classic-titlebar-inactive);
 }

 .app-focused .wordmarkWindows__05c46 {
 	background-image: var(--classic-titlebar-active);
 }

 .app-focused .wordmarkWindows__05c46::before {
 	opacity: 1;
 }

 .wordmarkWindows__05c46::before {
 	content: var(--classic-titlebar-wordmark-content);
 	height: var(--classic-titlebar-height);
 	z-index: 1;
 	position: relative;
 	font-family: 'Tahoma';
 	font-size: 12px;
 	color: #fff;
 	font-weight: 700;
 	opacity: .8;
 	padding: 0 3px;
 	line-height: var(--classic-titlebar-height);
 	font-smooth: always;
 }

 .wordmarkWindows__05c46 svg {
 	display: none;
 }

 .platform-win #app-mount,
 .platform-win .backdrop__7e89b,
 .platform-win .backdropWithLayer-3_uhz4 {
 	padding: var(--classic-app-padding);
 	box-sizing: border-box;
 	background-color: #C0C0C0;
 	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
 }

 .platform-win .bg__7adbf,
 .platform-win .layer_e552e0,
 .platform-win .standardSidebarView__1129a {
 	top: 0;
 	padding-top: 0;
 }


 /*
////////////////////
///WINCLASSIC THEME
////////////////////
*/

 @import url('https://fonts.googleapis.com/css?family=Tahoma&display=swap');


 * {
 	border-radius: 0px !important;
 	text-transform: none !important;
 }

 .theme-light {
 	--header-primary: #000;
 	--header-secondary: #000;
 	--text-normal: #000;
 	--text-muted: #747f8d;
 	--text-link: #0067e0;
 	--channels-default: #000;
 	--interactive-normal: #000;
 	--interactive-hover: #fff;
 	--interactive-active: #060607;
 	--interactive-muted: #a88985;
 	--background-primary: #fff;
 	--background-secondary: #C0C0C0;
 	--background-tertiary: #fff;
 	--background-accent: #0a246a;
 	--background-floating: #C0C0C0;
 	--background-modifier-hover: #0a246a;
 	--background-modifier-active: #0a246a;
 	--background-modifier-selected: #0a246a;
 	--background-modifier-accent: rgba(6, 6, 7, 0.08);
 	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
 	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
 	--logo-primary: #7289da;
 	--guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
 	--channeltextarea-background: #ebedef;
 	--activity-card-background: #fff;
 	--deprecated-panel-background: #ebedef;
 	--deprecated-card-bg: #f8f9f9;
 	--deprecated-card-editable-bg: #C0C0C0;
 	--deprecated-store-bg: #f8f9f9;
 	--deprecated-quickswitcher-input-background: #fff;
 	--deprecated-quickswitcher-input-placeholder: rgba(79, 84, 92, 0.3);
 	--deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
 	--deprecated-text-input-border: rgba(79, 84, 92, 0.3);
 	--deprecated-text-input-border-hover: #b9bbbe;
 	--deprecated-text-input-border-disabled: #dcddde;
 	--deprecated-text-input-prefix: #b9bbbe;
 }

 /* temp(?) fix for the Save To plugin when you right-click images/users */

 .contextMenu-HLZMGh {
 	max-width: 400px;
 }

 .itemGroup-1tL0uz .item-1Yvehc:not(.da-item):hover {
 	height: 200px;
 }

 .itemGroup-1tL0uz .item-1Yvehc:not(.da-item) {
 	position: relative;
 	font-weight: 500;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	margin-top: 2px;
 	margin-bottom: 2px;
 	padding: 0 8px;
 	font-size: 14px;
 	color: var(--interactive-normal);
 	line-height: 18px;
 	height: 24px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	align-items: center;
 	border-radius: 2px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc {
 	height: 20px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc:hover {
 	height: 100px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh .item-1Yvehc {
 	height: 19px;
 	min-height: unset;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh {
 	overflow-y: scroll !important;
 	height: 100px;
 	padding: 0 !important;
 }

 .theme-dark .contextMenu-HLZMGh:not(.da-contextMenu),
 .theme-light .contextMenu-HLZMGh:not(.da-contextMenu) {
 	left: 0 !important;
 	top: 0px !important;
 	max-height: 200px;
 }



 /* fuck it scrollbars are broken i cant figure this shit out
its up to you to fix them or wait for me to eventually fox them*/

 /*Scrollbars*/
 ::-webkit-scrollbar-corner {
 	background-color: transparent;
 }

 ::-webkit-scrollbar {
 	width: 6px !important;
 	height: 8px !important;
 }

 ::-webkit-scrollbar-track:active {
 	background-color: #2a2a2a !important;
 }

 ::-webkit-scrollbar-button {
 	display: initial !important;
 	background-color: #c5c4c0;
 }

 ::-webkit-scrollbar-track {
 	background-color: transparent;
 	border: 6px;
 	border-radius: 0px !important;
 }

 ::-webkit-scrollbar-track:hover {
 	background-color: #111111;
 	border: 6px;
 }

 ::-webkit-scrollbar-track:active {
 	background-color: #111111;
 	border: 6px !important;
 }

 /* Changes all scroll bars */
 ::-webkit-scrollbar {
 	width: 16px !important;
 	height: 8px !important;
 }

 /* Border and colour of the scrollbar thumb  */
 ::-webkit-scrollbar-thumb {
 	background-color: #c5c4c0 !important;
 	border: none !important;
 	border-radius: 0px !important;
 }

 /* Changes the background colour of the scroll bars and servers. */
 ::-webkit-scrollbar-track-piece, .guilds-wrapper {
 	background-color: #aca9a9d9 !important;
 	border: none !important;
 	border-radius: 0px !important;
 }


 .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track {
 	visibility: visible !important;
 }


 .theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
 	background-color: #d7d2cf !important;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	width: 16px;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
 	border: 6px !important;
 	border-radius: 0px !important;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:hover {
 	background-color: #111111 !important;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:active {
 	background-color: #2a2a2a !important;
 }

 ::-webkit-input-placeholder, body, button, select, div {
 	font-family: Tahoma, Whitney !important;
 }

 .form__13a2c {
 	background: #C0C0C0;
 	color: #000;
 }

 .modeMuted-3osy7j .name-3_Dsmg:not(:hover) {
 	text-shadow: 0px 1px #fff;
 }

 .contextMenu-HLZMGh {
 	padding: 0;
 }

 .itemBase-tz5SeC {
 	min-height: 21px;
 }

 .side_b4b3f6 .item__48dda {
 	height: 21px;
 	padding: 0;
 	margin: 0;
 }

 .labelContainer_bc2861 {
 	height: 21px;
 	padding: 1;
 	margin: 0;
 }

 .form__13a2c,
 .item-1Yvehc {
 	margin: 0;
 }

 .barButtonBase-3UKlW2 {
 	color: #000;
 }

 .theme-light #bd-settings-sidebar .ui-tab-bar-header,
 .theme-light #bd-settings-sidebar .ui-tab-bar-item {
 	color: #000;
 }

 .side-2ur1Qk .separator-2wx7h6 {
 	padding: 0;
 	margin: 0;
 }

 .wrapper-CU3qI5:hover {
 	background: #0a246a;
 }

 .wrapper-28eC3z svg foreignObject,
 .wrapper-1VLyxH mask,
 .wrapper-1VLyxH foreignObject {
 	mask: none;
 }

 .header__3d25c {
 	overflow: hidden;
 	height: 17px;
 	padding: 0px 4px !important;
 	margin: 0;
 }

 .flexChild__6e093 h4 {
 	margin-top: -2px;
 	font-size: 12px;
 	color: #fff;
 }

 .theme-light .bda-slist li,
 .theme-light .bda-slist .bda-description,
 .theme-light .bda-slist .bda-header {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .bd-controls>.bd-addon-button svg {
 	fill: black;
 }

 .bd-button, .bd-addon-button {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .bd-addon-list .bd-addon-header {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .bd-description-wrap {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 }

 .bd-addon-list .bd-footer {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 }

 button.bd-button.bd-addon-button.bd-button-danger {
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 }

 .theme-light input {
 	background: #fff;
 	background-color: #fff;
 }

 .channelTextArea__2e60f {
 	padding-top: 12px;
 	margin-bottom: 13px;
 }

 .textArea-2Spzkt {
 	min-height: 14px;
 	padding: 0;
 }

 .buttons-205you,
 .theme-light .attachButton-1UjEWA {
 	height: auto;
 	min-height: 25px;
 }

 .button-2vd_v_,
 .theme-light .attachButton-1UjEWA {
 	padding: 0;
 }

 .theme-light .attachButton-1UjEWA:hover {
 	background: #0a246a;
 }

 .modeSelected-1zApJ_ .name-3_Dsmg,
 .wrapper-1ucjTd:hover .name-3_Dsmg,
 .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover,
 .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover,
 .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
 .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
 .header-2o-2hj:hover .name-3YKhmS,
 .clickable__17ccb:hover .activity-E-0FeD,
 .selected-37j_iU .actionIcon-2Hi9ZG,
 .containerDefault-1ZnADq:hover .actionIcon-2Hi9ZG {
 	color: #fff;
 	text-shadow: none;
 }

 .activityPanel__22355,
 .container_ca50b9 {
 	background: #C0C0C0;
 	border-top: 1px solid #fff;
 }

 .containerDefault-1ZnADq,
 .containerDragAfter-1F4fgZ,
 .containerDragBefore-31UGCO,
 .containerUserOver-1U5YnL,
 .member-3W1lQa {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .inner-zqa7da,
 .search__07df0,
 .theme-light input, .searchBar_e4ea2a .searchBarComponent__22760 {
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #404040;
 	border-left: 1px solid #404040;
 }

 #app-mount>div.appAsidePanelWrapper__714a6>div.notAppAsidePanel__9d124>div.app_b1f720>div>div.layers_a40797.layers__12c9f>div>div>div>div>div.chat__52833>div.content__1a4fe>main>form>div>div>div>div.buttons_ce5b56>button,
 .iconWrapper_af9215,
 .attachButton_b1db83,
 .cardPrimary-3qRT__,
 .cardPrimaryEditable-2mz_3i,
 .typing__6fd1d {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .container__11d72.themed_b152d4,
 .header-2o-2hj {
 	background: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 	-webkit-box-shadow: unset;
 	box-shadow: unset;
 }

 .contextMenu-HLZMGh {
 	border-bottom: 1px solid #3f3c5d;
 	border-right: 1px solid #3f3c5d;
 	border-top: 1px solid #dccec6;
 	border-left: 1px solid #dccec6;
 }

 .itemGroup-1tL0uz:not(:first-child):not(:empty) {
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .side-2ur1Qk .separator-2wx7h6 {
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .children__32014:after {
 	border-right: #c4c0b8 1px solid;
 	background: none;
 }


 /*
///////////////////////
///ADDITIONS
//////////////////////
*/

 .avatar-3uk_u9 .wrapper-3t9DeA {
 	border-radius: 0;
 }

 .avatar-3uk_u9 .wrapper-3t9DeA svg foreignobject {
 	mask: none;
 }

 /* Text Box */
 .textAreaSlate_e0e383 {
 	border-top: 1px solid #dccec6;
 	border-left: 1px solid #dccec6;
 }


 .channelTextArea__2e60f {
 	color: #000;
 	background-image: url(https://th.bing.com/th/id/R.29516a909a71968af3213a2770576e45?rik=RNir6GshoAPGqA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fhN0TnNU.jpg&ehk=kc9ohRzqS8LjXA501eA7SPYBFpPRUH3jiXvuTsZluj8%3d&risl=&pid=ImgRaw&r=0);
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #000000;
 	border-right: 1px solid #78787844;
 	border-top: 1px solid #000;
 }

 .childWrapper__01b9c, .wrapper_d281dd {
 	border-radius: 1px;
 }

 .theme-light .form__13a2c:before {
 	border-right: 1px solid #3f3c5d;
 	border-top: 1px solid #000;
 	border-left: 1px solid #dccec6;
 	background-color: #C0C0C0;
 	background: #C0C0C0;
 }






 .scrollableContainer__33e06 {
 	overflow-x: hidden;
 	overflow-y: hidden;
 }

 .emojiButtonHovered__4c6c4, .emojiButtonNormal__73cd3 {
 	padding-left: 10px;
 	padding-right: 10px;
 	margin-left: 0px;
 }

 /* Channel Info */
 .theme-light .children__32014:after {
 	background: transparent;
 }

 /* Activity Panel */
 .activityPanel__22355, .container_ca50b9 {
 	background: #C0C0C0 !important;
 	border-top: 1px solid #000;
 	border-bottom: none;
 }

 .container__0a6a9 {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1x solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .card_f887fe {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Channels */
 .wrapper__7bcde {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .modeUnread_f74c03 .name__8d1ec:hover {
 	color: #FFFFFF;
 }

 .modeSelected__487d6 .name__8d1ec {
 	background-color: var(--background-modifier-selected);
 	color: #FFFFFF
 }

 .actionIcon_d679b5 {
 	color: #FFFFFF
 }

 .modeUnread_f74c03 .name__8d1ec {
 	font-weight: 700;
 	font-style: italic;
 }

 .modeSelected__487d6 .wrapper__7bcde, .modeSelected__487d6:hover .wrapper__7bcde {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #000;
 	border-right: 1px solid #000;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 	;
 }

 .interactiveSelected_ec846b {
 	color: #FFFFFF
 }

 /* Members */

 .member_aa4760{
	background-color: var(--background-secondary);
	margin: 0;
	border-bottom: 1px solid #848484;
	border-top: 1px solid #fff;
}

 .selected__9800b .layout_bb8e67 {
 	color: #FFFFFF
 }

 .activityText__47ec1:hover, .icon_d942d4:hover {
 	color: #FFFFFF;
 }

 .member_aa4760:hover .activityText__47ec1{
	color: #FFFFFF;
}


 /* Server name */
 .container__7c79d {
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 }

 /* Guilds bar */
 .scroller__3d071 {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff
 }


 .circleIconButton-1QV--U, .childWrapper__01b9c {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .wrapper_d281dd:hover .childWrapper__01b9c {
 	background-color: #848484;
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .closedFolderIconWrapper__7321f, .expandedFolderIconWrapper__458cf {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .circleIconButton_d8df29 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 .item_f9d377 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* People List */
 .peopleList__2379e {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .itemCard__1f162:first-of-type {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .itemCard__1f162 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .section_efc22d {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .actions_c08157, .peopleColumn__51df3, .actions_c08157:hover, .peopleColumn__51df3:hover {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .peopleListItem_d14722:hover .username__81ee6, .peopleListItem_d14722:hover .text__1dddb {
 	color: #FFFFFF !important;
 }

 .messageContainer_aa7d14, .messages_f7999e, .messageGroupWrapper_f8c6e9 {
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #404040;
 	border-left: 1px solid #404040;
 }

 /* Footers */
 .footer_a3029c {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Chat */
 .scrollerInner__059a5 {
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .attachment_f3cf2c, .markup_a7e664 code, .grid_c7c4e6 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 .selected__9800b .layout_bb8e67 {
 	color: #FFFFFF
 }

 .activityText__47ec1:hover, .icon_d942d4:hover {
 	color: #FFFFFF;
 }

 /* Menus */
 .menu_dc52c6, .channel_c21703 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .labelContainer_bc2861 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Buttons */
 .button__3ecb4, .button_d553e5, .lookFilled__19298.colorBrand_b2253e, .lookFilled__19298.colorPrimary__6ed40, .tabBar__73938 .item_e4ca95 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 #app-mount>div.appAsidePanelWrapper__714a6>div.notAppAsidePanel__9d124>div.app_b1f720>div>div.layers_a40797.layers__12c9f>div>div>div>div>div.sidebar_ded4b5>section>div.container_ca50b9>div.flex_f5fbb7.flex__909d4.horizontal__992f6.horizontal__65889.flex__909d4.directionRow__2bb0b.justifyStart__42744.alignStretch_e239ef.noWrap__5c413>button:nth-child(1), #app-mount>div.appAsidePanelWrapper__714a6>div.notAppAsidePanel__9d124>div.app_b1f720>div>div.layers_a40797.layers__12c9f>div>div>div>div>div.sidebar_ded4b5>section>div.container_ca50b9>div.flex_f5fbb7.flex__909d4.horizontal__992f6.horizontal__65889.flex__909d4.directionRow__2bb0b.justifyStart__42744.alignStretch_e239ef.noWrap__5c413>button:nth-child(2), #app-mount>div.appAsidePanelWrapper__714a6>div.notAppAsidePanel__9d124>div.app_b1f720>div>div.layers_a40797.layers__12c9f>div>div>div>div>div.sidebar_ded4b5>section>div.container_ca50b9>div.flex_f5fbb7.flex__909d4.horizontal__992f6.horizontal__65889.flex__909d4.directionRow__2bb0b.justifyStart__42744.alignStretch_e239ef.noWrap__5c413>button:nth-child(3) {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .size32_eadcb9 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .theme-light .checkbox-f1HnKB {
 	display: none;
 }

 /* Headers */
 .header_f5cc88, .header-1zd7se {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Guilds Bar */
 .wrapper-1Rf91z {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .sidebar_ded4b5 {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Uploading Files */
 .theme-light .checkbox-f1HnKB {
 	display: none;
 }

 .theme-light .uploadModal_eae2a0 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .uploadModal_eae2a0 .footer_ceda43.hasSpoilers__49ee6 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 }


 /* Settings */
 .side_b4b3f6 .item__48dda {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .contentRegionScroller__86c79 {
 	background-color: #848484;
 }

 .theme-light .closeButton__34341 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .background_b61fcc {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .fieldList_aab0de {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 }

 .accountProfileCard__22589 {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1x solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Send Button */
 .separator__8424b {
 	margin-left: 0px;
 }

 #app-mount>div.appAsidePanelWrapper__714a6>div.notAppAsidePanel__9d124>div.app_b1f720>div>div.layers_a40797.layers__12c9f>div>div>div>div>div.chat__52833>div.content__1a4fe>main>form>div>div>div>div.buttons_ce5b56>div.separator__8424b>div>button {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	padding-right: 10px;
 }

 /* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
 /* epic */
 #app-mount .container__871ba, .input_be50d1,
 #app-mount .container__871ba, .input_be50d1,
 #app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
 #app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
 	margin: 0;
 	opacity: 1;
 	height: 14px !important;
 	width: 14px !important;
 	position: relative;
 	cursor: var(--cursor);
 	-webkit-appearance: checkbox;
 	appearance: checkbox;
 	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
 }

 #app-mount .container__871ba,
 #app-mount .checkboxWrapper-2fDzaA{
 	width: auto;
 	border-radius: 0;
 	background: transparent !important;
 	display: flex;
 	align-items: center;
 	box-shadow: none;
 	-webkit-box-shadow: none;
 	cursor: var(--cursor);
 }

 input[type="checkbox"] {
 	accent-color: var(--accent);
 }

 #app-mount .container__871ba .slider__41d94,
 #app-mount .checkboxWrapper-2fDzaA .slider__41d94 {
 	display: none;
 }

 .theme-dark .checkbox-f1HnKB {
 	display: none;
 }


 /* Emoji and Gif Menu */
 .inspector__17331, .inspector__993e1, .drawerSizingWrapper__30274 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .unicodeShortcut__1dd6b, .stickerCategoryGeneric__431fb {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .inner__178b2, .content__30de8 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .medium__2d9f3 .tag__69d9d {
 	height: 30px !important;
 }

 .theme-light .header-JHwfVI, .theme-light .header_f7f1f3 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .categoryItemDefaultCategorySelected__8245a, .standardStickerShortcut__5254d, .categoryItemDefaultCategorySelected__8245a:hover {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .list-obNEuP, .inner__999f6, .theme-light .header-JHwfVI {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Voice Chat */
 .container_d667ff {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Powercord Settings */
 .powercord-entities-manage-tabs {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Powercord Theme Toggler and Plugins Products */
 .powercord-product {
 	padding: 9px;
 	margin-bottom: 13px;
 }

 .powercord-product-header h4 {
 	font-size: 16px;
 }

 .powercord-product .divider__09722 {
 	display: none;
 }

 .description, .powercord-product .metadata, .powercord-product-permissions, .powercord-product-footer {
 	margin-top: 4px;
 	font-size: 13px;
 }

 /* Extra stuff for BetterDiscord-Compat */
 .bdc-plugin .metadata>div {
 	margin-top: 4px;
 	width: 20% !important;
 }


 /* New Messages */
 .newMessagesBar__8b6d7 {
 	display: inline;
 	float: left;
 	background-color: #7289da00;
 	box-shadow: none;
 }

 .barButtonAlt__4b48f, .barButtonMain__0f5c6 {
 	color: #000 !important;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Typing and slow mode */
 .typing__6fd1d {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	height: 14px;
 	top: -16px;
 	padding: 0px 15px;
 	left: .1px;
 }

 /* Hide scroll bar */
 .guilds__2b93a *::-webkit-scrollbar, .categoryListWithSearch-2jrzH6 *::-webkit-scrollbar, .emojiPickerHasTabWrapper__80686 .categoryList_f8c48f *::-webkit-scrollbar, .sidebar_ded4b5 *::-webkit-scrollbar {
 	display: none;
 }



 .panels__58331 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Channel Tabs */

 .channelTabs-closeTab, .channelTabs-newTab {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tabContainer {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tab {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C1 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tab:hover {
 	background-color: rgba(0, 0, 0, 0.144) !important;
 }

 .channelTabs-tab.channelTabs-selected {
 	border-bottom: 0px !important;
 }

 .buttonContainer__8b164 {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Chat */
 .fontSize16Padding__48818 {
 	padding-bottom: 11px;
 	padding-top: 11px;
 	margin-left: 3px;
 }



 /* Pop Outs */
 .focusLock__10aa5, .root_a28985, .bd-addon-error-header, .bd-tab-item.selected, .theme-light .footerSeparator__57d95 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* People Friends Page */
 .side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda, .topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
 	color: #FFFFFF;
 }

 .platform-osx .typeMacOS__496b0, .platform-osx #channelTabs-container {
 	background-color: #C0C0C0;
 }

 .platform-osx .channelTabs-tabContainer {
 	color: #00000000 !important;
 	background: #c0c0c000 !important;
 	background-color: #c0c0c000 !important;
 	border-right: 1px solid #84848400 !important;
 	border-top: 1px solid #ffffff00 !important;
 	border-left: 1px solid #ffffff00 !important;
 }

 /* Guilds */
 .childWrapper__01b9c, .wrapper_d281dd {
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff
 }



 /* Ripped Directly from Saltssaumure's BorderRadient */

 .assetWrapperMasked__20115,
 .assetsLargeMaskStreamPreview__741af,
 .assetsLargeMaskUserPopout__82136,
 .inspectedIndicator_f00108,
 .loadingIndicator__6b1b4,
 .mask-2Me5HY rect,
 foreignObject[mask*="url(#"] {
 	mask: none;
 	-webkit-mask: none;
 }

 .theme-dark .imageLoading__37d01,
 .theme-light .imageLoading__37d01 {
 	background-image: none;
 }

 .accountAddInner_d34c25,
 .accountList-Wii_T5,
 .accountProfileCard__22589,
 .action_d01fae,
 .actionButton__23182,
 .actionContainer__51bd9,
 .actionContainer_d21d10,
 .actions_cba988,
 .activitySectionAssets_ea2444 .largeImage_f4707b,
 .addFriendInputWrapper__4bf8e,
 .addGamePopout_e4ca8f,
 .addMemberRow_d14116,
 .addReactButton__59750,
 .addTags-26suzl,
 .after_inlineCode__2197d,
 .allow_bbc621,
 .allow__6f2d0,
 .altTag__3fced,
 .appAvatar_dc107b,
 .artContainer__56b19,
 .attachedBars_da3c74,
 .attachment__7a2d0,
 .attachment_f3cf2c,
 .audioControls__9fbe9,
 .auditLog__6c805,
 .auto-2K3UW5::-webkit-scrollbar-thumb,
 .auto-2K3UW5::-webkit-scrollbar-track,
 .autocomplete__0c75a,
 .autocompleteQuerySymbol__3068e,
 .availabilityIndicator__66240,
 .avatar_b8e04b,
 .avatar__08316,
 .avatar_a56eee,
 .avatar__777a6,
 .avatar_eb6eba,
 .avatar__50f54,
 .avatarHoverTarget__3a360,
 .avatarSpeaking-33RRJU,
 .avatarWrapper_f77579,
 .background_b61fcc,
 .backgroundOptionInner__1477f,
 .backgroundOptionRing__1f209,
 .badge__1a553,
 .badge-39TqBS,
 .banner-1rJmju,
 .banner-2boKnS,
 .banner_b7f1fb,
 .banner-ppi-o1,
 .bar-1Bhnl9,
 .bar_edc096,
 .bar_ef682d,
 .base__76a71,
 .baseShapeRound__95d0f,
 .baseShapeRoundLeft__99acd,
 .bd-addon-error-icon,
 .bd-addon-error,
 .bd-addon-list .bd-addon-card,
 .bd-button,
 .bd-controls>.bd-addon-button:first-of-type,
 .bd-controls>.bd-addon-button:last-of-type,
 .bd-notice:first-child,
 .bd-number-input,
 .bd-pagination button,
 .bd-placeholder-card,
 .bd-search-wrapper,
 .bd-select .bd-select-options,
 .bd-select,
 .bd-server-card,
 .bd-server-count-dot,
 .bd-server-icon,
 .bd-server-tag,
 .bd-switch-body,
 .bd-tab-item,
 .bd-toast,
 .before_inlineCode__37e14,
 .bigPerkCard-1uwmWV,
 .blob__8d5bd,
 .blockquoteContainer_f24d1f .blockquoteDivider__96157,
 .bodyMedia-3ij3KY,
 .border_e782de,
 .border_d9a17b,
 .box-BHImcZ,
 .bubble_f48089,
 .button_ddf91e,
 .button__4f306,
 .button__57d93,
 .button__71a0f,
 .button__13ec4,
 .button_f8244b,
 .button_afdfd9,
 .buttonInner__2771e,
 .calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--previous,
 .calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
 .calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
 .calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
 .calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
 .cameraWrapper-3a7Ngv,
 .card-16VQ8C,
 .card_dc88cd:before,
 .card__86773,
 .card__834d4,
 .card__48184,
 .card__73022,
 .card_d4f6c7,
 .card-8UsK4b,
 .card-m7VgZ8,
 .card__3662a,
 .card__2ebbc,
 .card__81c50,
 .cardIcon__3476e:before,
 .cardWrapper_bc8d2a,
 .category_ba5745,
 .category__2d800,
 .categoryFade_f9c843, .categoryFadeBlurple_e73c11,
 .categoryItemDefaultCategory__67fe7,
 .categoryList_f8c48f,
 .categoryPill-1zjNrr,
 .channelContainer-3YAhb_,
 .channelIcon__2b0ed,
 .channelIcon__1565e,
 .channelsWrapper-51IUFR,
 .channelTextArea__56a36,
 .chat__52833.threadSidebarOpen_fa231d,
 .checkbox-1ycfTw .checkboxInner-1aRh1d span,
 .checkboxWrapper-2fDzaA.row-31nALW,
 .checklistContainer-12xGp5,
 .checklistHeader-3liG7E,
 .childButton__832dc,
 .clickable_e2569e,
 .closeButton__34341,
 .closeIcon-2jT3e_,
 .colorPickerSwatch__87597,
 .colorPickerSwatch__87597.custom__383ac,
 .colorPickerSwatch__87597.default__8218c,
 .communityInfoPill_d3f445,
 .connectContainer__8050b,
 .connection_fff5f6,
 .connectionHeader__3c82d,
 .container__0d7bc,
 .container-16urgA,
 .container__8261a,
 .container-1BRLje,
 .container__0810b,
 .container__515b3,
 .container_e4c233,
 .container__8877d,
 .container-2_J666,
 .container__467eb,
 .container-2d0jMv,
 .container_d4b118,
 .container__20de0,
 .container__92dc8,
 .container_d6dad3,
 .container__7b33c,
 .container-2nx-BQ,
 .container-2nXUah,
 .container-2O1UgZ,
 .container__7712a,
 .container__6604b,
 .container-30qY7E,
 .container-32HW5s,
 .container-3arpDl,
 .container_d5f6d0,
 .container__16581,
 .container__767d1,
 .container_de00a3,
 .container-3kfp0r,
 .container-3PVapX p>img,
 .container-3ssFyj,
 .container_a308ae,
 .container_def45c,
 .container-3zZkKh,
 .container-5N5x2A,
 .container__56cd1,
 .container__8fd9f,
 .container-QlmnKJ,
 .container_dabadb,
 .container-x8Y1ix,
 .container_acafc1,
 .containerBackground__1e084,
 .wrapper__7bcde,
 .content_b60865,
 .content-2hZxGK,
 .content_d67847,
 .content_dc3a33 ul li:before,
 .content-pHpkq8,
 .contentCircle-15IFyT,
 .contentWrapper__321ed,
 .contextMenuNub__7c02f,
 .copyInput_c1c679,
 .countContainer-3DOo5v,
 .cozy_f5c119.hasThread__58ee2:after,
 .createSticker__22fad,
 .css-1313o0h-control,
 .css-19vtg9u-control,
 .css-3vaxre-menu,
 .css-5symcw-control,
 .css-6sv4e8-menu,
 .css-kfxh0s-control,
 .css-xpql1x-control,
 .ctaBar-Nhk8yY,
 .datePicker__94673 .datePickerHint__7cc9b .hintValue_c2ce1f,
 .defaultIndicator__2a4ea,
 .deny__71546,
 .deny_c46df5,
 .descriptionBox_cca0c3,
 .descriptionContainer-2ylKGk,
 .developerPortalCtaWrapper__21172,
 .discordIcon-2-SnKe,
 .diversitySelectorOptions__846c5,
 .dmIcon__160f0,
 .dot__05dbb,
 .dot-1F0TGd,
 .dot__99c90,
 .dotOnline__72689,
 .dotSeparator-1V0QPn,
 .editCard_dfa091,
 .editingContainer-1_nnqZ,
 .embed_d3cbe3,
 .embedAuthorIcon__6b055,
 .embedImage_e638a7 img,
 .embedImage_e638a7 video,
 .embedMedia_b473d2,
 .embedThumbnail__468e1 img,
 .embedThumbnail__468e1 video,
 .embedVideo__0c65b img,
 .embedVideo__0c65b video,
 .emojiItem_b15dee,
 .emojiPicker_b65ce9,
 .emptyChannelIcon__1a1ba,
 .emptyStateIcon__9ee16,
 .enableContainer-1J91Aq,
 .enableContainer-2MEsKV,
 .enableContainer__0945b,
 .error-3AuLwi,
 .exampleContainer-2O-nVK,
 .exampleContainer__83e1c,
 .exampleModal__4d7df,
 .exampleRule-3gJ39X,
 .executedCommandAvatar__939bc,
 .expandedFolderBackground__1bec6,
 .fakeActivityIcon__222c6,
 .fakeButton-3RWbMY,
 .fakeEdges__17ee5:after,
 .fakeEdges__17ee5:before,
 .feature-2IUcBI,
 .featureBorder_a44f20,
 .featureCard__0a441,
 .featureIcon__48a2c,
 .firstChannel__94f31,
 .focusRing_e5d39f,
 .folderIconWrapper__72239,
 .footer-31IekZ,
 .footer__06f4b,
 .form-25Aujy .submitButton-3B-dZd,
 .gameIcon__90c32,
 .gemIndicatorContainer_b03ca0,
 .getStartedWrapper-2mNX-j,
 .gif__2aa16,
 .gifIconContainer-3os21a,
 .grabber-2GQyvM,
 .group__2716e,
 .group__6ae8b,
 .guidelinesButton-3Vrz0u,
 .guildContainer__01a82,
 .guildIcon__31e46,
 .guildIconExpired__1d51f,
 .guildSidebar-pjuGkm,
 .header__55964,
 .header-1Uy0p6,
 .header-1zd7se,
 .header__7b78f,
 .headerContent__74c51 .searchBox_bf114a,
 .headerIcon__5761b,
 .headerIcon__8e637,
 .headerImage_d4505b,
 .headerImage-2D5D-v,
 .headerImage__0cf36,
 .helpIcon_a58947,
 .hero-1aNo0v,
 .hero-2rQ_qr,
 .hljs,
 .html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb,
 .hue__687e2>div>div,
 .icon-1_mnkD,
 .icon__4c736,
 .icon__28d6c,
 .icon_c1b424,
 .icon_e355a1,
 .icon__588c6,
 .icon_f1e244,
 .iconActiveLarge__8985a,
 .iconActiveLarger__0698f,
 .iconActiveMedium_d5475f,
 .iconActiveMini__0163a,
 .iconContainer__21954,
 .iconContainer__6fc72,
 .iconContainer-36kI2p,
 .iconContainer__004ce,
 .iconInactive__90d40,
 .iconWrapper__8fbb1,
 .iconWrapper__3e4a9,
 .iconWrapper__85630,
 .iconWrapper__1b651,
 .iconWrapper_ced58f,
 .image-1091CL,
 .image-ZPv20Y,
 .imageUploaderIcon__0c13b,
 .imageUploaderInner_da8332,
 .imageWrapper_fd6587,
 .indicator__2b793,
 .inlineUpsell-3zPTgw,
 .inner__51a43,
 .input-2g-os5,
 .input-2XRLou,
 .input__848cd,
 .inset__0bfb3,
 .integration_d2f026,
 .intentsContainer__9bd68,
 .invite__2a93b,
 .inviteBannerUpsell-1t_LYM,
 .inviteRow-3vmB7i,
 .inviteSplash_f4eb93,
 .item-1BCeuB,
 .item-1OdjEX,
 .item-2idW98,
 .item_f9d377,
 .item-2OyinQ:first-child,
 .item-2OyinQ:last-child,
 .jumpButton_da1ebb,
 .jumpButton__0329d,
 .jumpToPresentBar__0ff7f,
 .keybindShortcut-3zF1P9 span,
 .languageSelector_a1c2f3,
 .lastChannel__129f1,
 .layout__59abc,
 .layout_bb8e67,
 .list_b1e6a9,
 .list_a19d86,
 .listRow__60937,
 .liveIndicator_e64478,
 .liveShapeRound__811c0,
 .liveShapeRoundRight__35bb2,
 .mainCard-3KBsBI,
 .markup_a7e664 code.inline,
 .markup_a7e664 pre,
 .mediaBarGrabber_c64ff9,
 .mediaBarInteractionVolume_f4c833,
 .memberDot__8f6df,
 .memberListItem_f1d144,
 .membershipDialog-2wAdpQ,
 .mention,
 .menu_dc52c6,
 .message__04d9f,
 .messageContainer_aa7d14,
 .messageGroupWrapper_f8c6e9,
 .messageInputContainer-2rGDH8,
 .messageRequestItem__3b951:hover,
 .messageRequestItem__3b951.active_a36bbb,
 .messages_f7999e,
 .messagesErrorBar__06c0a,
 .messagesPopoutWrap_b3b384,
 .metadataContainer__7b316,
 .mini-2qY9iv .grabber-2GQyvM,
 .moreUsers__1d9e9,
 .mostPopularPill-28w8lV,
 .multipleIconWrapper__164fb,
 .newMessagesBar__8b6d7,
 .noiseCancellationPopout__06ec4,
 .notDetected__2a0c9,
 .notice-1Qe0b_,
 .notice__5fd4c,
 .notice-5OG6bf,
 .nowPlaying__353c3,
 .option_a0c054,
 .option_b5597b,
 .option__32fd1,
 .optionBox-1UOevl,
 .optionContainer_a683c2,
 .optionContainer__5d0b1,
 .optionPill_f86b98,
 .outer_a41cf3,
 .outerWrapper__08924,
 .overflow__9227d,
 .overlayAvatar-1U_zp1,
 .overlayBackground-2Zjm9f,
 .overlayBackground-H1K9ZY,
 .overlayTitle_a9f7c6,
 .partyMemberEmpty__94736,
 .pencilContainer-11Kuga,
 .pencilContainer_d4ce8d,
 .peopleListItem_d14722:hover,
 .peopleListItem_d14722.active__6b8ff,
 .perk-19D_HN,
 .perks-2IIbWQ,
 .phoneField__65729 .countryButton__499be,
 .phoneField__65729,
 .pictureInPictureVideo_f1081d,
 .pictureInPictureWindow_dc49a8,
 .pill-1HLSrc,
 .pill_f055c3,
 .placeholder__278ac,
 .placeholderCard__622e2,
 .placeholderLine-86Fsd9,
 .placeholderMedia-34JHvE,
 .platform-win .sidebar_ded4b5,
 .popout-1KHNAq,
 .popout-2vZMlk,
 .popout__24e32,
 .popoutContainer__7b9a3,
 .popoutList-10IFAa,
 .popoutRoleDot-2_Nt5g,
 .preview-x-26h-,
 .previewContainer_c7e80d,
 .previewContainer_d2b616,
 .previewContainer_b0f5b4,
 .previewInner-Ry5hd0,
 .previewInner-Ry5hd0:before,
 .previewMessage__1075c,
 .privateThreadFeaturePill__5db2e,
 .profileBadge__1d2d3:before,
 .profileBadges-1GBCVy,
 .profileBadges-31rDHI,
 .profileBannerPreview-3mLIdO,
 .profileCustomizationPreview-2-Y173,
 .profileThemeSectionPremiumBorder-pH_ioT,
 .progressBar-18rmp1,
 .px__97c6b.botTag__4211a,
 .qualitySettingsContainer-2LjkfM,
 .questionMark-3V9mGJ,
 .quickSelectPopout_c0cf80,
 .quickswitcher_a3d29a,
 .radioBar-3w9XY-,
 .react-datepicker,
 .reaction_fef95b,
 .reaction_b90ab0,
 .reaction-BL6n45,
 .rem__931aa.botTag__4211a,
 .rem__931aa.botTag__4211a.botTagOP_e48ddb,
 .repliedMessage_e2bf4a:before,
 .replyAvatar_cea07c,
 .replyBadge__3d01e,
 .result_e1fc74,
 .result_e1fc74:after,
 .result__25f11,
 .ring-370dIp,
 .role__88585,
 .role-2mCo-N,
 .role__631a3,
 .roleCircle-1EgnFN,
 .roleCircle-1ER2zO,
 .roleCircle-3K9O3d,
 .roleColor_dc66b5,
 .roleDot-2a4Pv7,
 .roleDot-2gCDg5,
 .roleIcon__59ca1:before,
 .roleRow_c357d5,
 .roleRow-3LoHQ6,
 .rolesWrapper-1LLZrU,
 .root__03160,
 .root_b4f834,
 .root_a28985,
 .round-1RSG-3,
 .roundButton-2_R5PN,
 .row__4daf2,
 .rowContainer-3t7486,
 .rowWrapper__2d725,
 .rsvpCount__4657d,
 .ruleIconContainer_baf164,
 .saturation__35997>div,
 .saturation__35997>div>div,
 .scrollableContainer__33e06,
 .scrollbarGhostHairline_c9a45f::-webkit-scrollbar-thumb,
 .scroller_abc422,
 .search_ac353c .DraftEditor-root .DraftEditor-editorContainer,
 .searchAnswer_b452e7,
 .searchBar_e4ea2a .searchBarComponent__22760,
 .searchBar_e0c60b,
 .searchBox_a63854,
 .searchFilter__118cb,
 .searchResult_dcd237,
 .section_efc22d:first-child,
 .section_efc22d:last-child,
 .section_efc22d:only-child,
 .select-1Ia3hD,
 .selectableItem__166c5,
 .selected_ee2dc5,
 .sessionIcon__540be,
 .settingCard-xZSDjS,
 .settingsContainer-36qZZ9,
 .settingsFormItem-25zW3t,
 .side-2ur1Qk .item-3XjbnG,
 .sidebarCard-1Gn1ch,
 .size24_f4a88d .moreUsers_cd5dfc,
 .small-1bZsRQ,
 .smallBox-1jyyME,
 .smallCarousel_cb7c79,
 .smallCarouselItem__4b167,
 .smallPerkCard-2sX_--,
 .sourceThumbnail-ERDcZE,
 .spamBanner_adb1b9,
 .spine_d081ec,
 .spinner__97e4c,
 .splashContainer__5cb35,
 .splashImage_df3cce,
 .spoilerContainer-3wsC0k,
 .spoilerText-27bIiA,
 .spoilerWarning-8ovW0v,
 .staticToolbar__7ef7b,
 .status__42e87,
 .status__4454b,
 .status__5b71e,
 .statusDot_e2b662,
 .statusDot_ed8884,
 .stepContainer-SaPPyG,
 .stepCountIcon_a27a70,
 .stepIndex-Kqaht-,
 .sticker__25985,
 .stickerCategory__4891e,
 .streamPreview__1846c,
 .swatch-35F5kl,
 .swatch__96672,
 .switchIcon-QY6cR4,
 .tag__69d9d,
 .tagRoleColor_c87a06,
 .textContainer__709ff,
 .thin_b1c063::-webkit-scrollbar-thumb,
 .threadMessageAccessoryAvatar__4ccbb,
 .thumbnail__3dea3,
 .tier_d16770,
 .tier__1597c,
 .tier-lFqDUs,
 .tier_d180cf,
 .tier2ColumnOuter-1U2eKO,
 .tierBody__615a1,
 .tierBody-3ju-rc,
 .tierHeader__5bf89,
 .tierHeader-wgo0w_,
 .tierMarker-Vw1C95,
 .tierMarkerLabelText-1wk8KK,
 .tierUnlocked-1yG5Ic,
 .tierWrapper-CsnudO,
 .tile_ebc93b,
 .tile_a411a4,
 .tileBaseContainer__7c06e,
 .tileSizer__2e01f,
 .timestamp_a65714,
 .toast-q3Y4wI,
 .tooltip-14MtrL,
 .tooltip-16UpTB,
 .tooltip_a70a03,
 .tooltip_ffc2ca,
 .topPill-3DJJNV .item-3XjbnG,
 .triggerMainContainer_c5139b,
 .typingIndicator_b21a29,
 .unread__48cf4,
 .unreadPill__715fc,
 .upload_c98ecb,
 .uploadInput-3fblkw,
 .uploadModal_eae2a0 .footer_ceda43,
 .uploadModalIn_c0ca4b .uploadDropModal__73a36 .bgScale_f3a2be,
 .uploadModalIn_c0ca4b .uploadDropModal__73a36 .inner__7afe9,
 .uploadModalIn_c0ca4b .uploadDropModal__73a36.error_d2567f,
 .upsellContainer__12e24,
 .upsellContainer__978df,
 .upsellContainer-3qKRln,
 .upsellContent_b657aa,
 .upsellFooter__63475,
 .upsellOverlay__688e8,
 .upsellOverlayContainer__08979,
 .upsellTextContainer__62647,
 .upsellTooltipWrapper_df8272,
 .usagePill-16kKHu,
 .userPopout-29jUdN,
 .userPopout-2j1gM4,
 .userPopoutInner-1v4xcM,
 .video__4c052,
 .video-8B-TdZ,
 .videoWrapper__7b3e0,
 .voiceAvatar__54cc1,
 .warningIcon_b3d4b2,
 .webkit__8d35a::-webkit-scrollbar-thumb,
 .welcomeChannel__0122f,
 .wrapper__3a7a0,
 .wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45,
 .wrapper_efe67f,
 .wrapper-1VLyxH,
 .wrapper__19c60,
 .wrapper__93f27,
 .wrapper__5848b,
 .wrapper__87791,
 .wrapper_fbbb73,
 .wrapper_c727b6,
 .wrapper__0be4c.ringingIncoming__5e70d:after,
 .wrapper__0be4c.ringingOutgoing_a69e6a:after,
 .wrapper_a24459,
 .wrapper__4beb8,
 .wrapper__5036f,
 .wrapperBase-dMTjVZ,
 .wrapperSimple-Js2rIO,
 .xsmall-14LPsL,
 .ytp-impression-link,
 .ytp-popup,
 .ytp-title-channel-logo,
 .ytp-title-channel,
 .ytp-tooltip-image,
 .ytp-tooltip-text-wrapper,
 .ytp-tooltip-text,
 #bd-editor-controls button,
 #bd-pub-button {
 	border-radius: 0;
 }

 .ChannelDms-channelpopout-popout .ChannelDms-channelpopout-collapseButton,
 .liveIndicator__18206,
 .hue__687e2>div>div>div>div,
 .saturation-white>div>div,
 .timestamp-modal-custom-input {
 	border-radius: 0 !important;
 }
